<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>iconImage</key>
		<string>oa</string>
		<key>gridTitle</key>
		<string>OA</string>
		<key>gridTag</key>
		<string></string>
		<key>gridColor</key>
		<string>#515151</string>
		<key>pageType</key>
		<integer>1</integer>
		<key>prefix</key>
		<string></string>
		<key>destVcClass</key>
		<string>OAViewController</string>
		<key>load</key>
		<true/>
	</dict>
	<dict>
		<key>iconImage</key>
		<string>meeting</string>
		<key>gridTitle</key>
		<string>会议管理</string>
		<key>gridTag</key>
		<string></string>
		<key>gridColor</key>
		<string>#515151</string>
		<key>pageType</key>
		<integer>1</integer>
		<key>prefix</key>
		<string></string>
		<key>destVcClass</key>
		<string>WKMeetingViewController</string>
		<key>load</key>
		<true/>
	</dict>
	<dict>
		<key>iconImage</key>
		<string>zaixiankaoqin</string>
		<key>gridTitle</key>
		<string>在线考勤</string>
		<key>gridTag</key>
		<string></string>
		<key>gridColor</key>
		<string>#515151</string>
		<key>pageType</key>
		<integer>1</integer>
		<key>prefix</key>
		<string></string>
		<key>destVcClass</key>
		<string>WKKQViewController</string>
		<key>load</key>
		<true/>
	</dict>
	<dict>
		<key>iconImage</key>
		<string>gongzuojihua</string>
		<key>gridTitle</key>
		<string>工作计划</string>
		<key>gridTag</key>
		<string></string>
		<key>gridColor</key>
		<string>#515151</string>
		<key>pageType</key>
		<integer>1</integer>
		<key>prefix</key>
		<string></string>
		<key>destVcClass</key>
		<string>GzjhViewController</string>
		<key>load</key>
		<true/>
	</dict>
	<dict>
		<key>iconImage</key>
		<string>email</string>
		<key>gridTitle</key>
		<string>企业邮箱</string>
		<key>gridTag</key>
		<string></string>
		<key>gridColor</key>
		<string>#515151</string>
		<key>pageType</key>
		<integer>1</integer>
		<key>prefix</key>
		<string></string>
		<key>destVcClass</key>
		<string>EmailViewController</string>
		<key>load</key>
		<true/>
	</dict>
	<dict>
		<key>iconImage</key>
		<string>chanpingkongjian</string>
		<key>gridTitle</key>
		<string>产品空间</string>
		<key>gridTag</key>
		<string></string>
		<key>gridColor</key>
		<string>#515151</string>
		<key>pageType</key>
		<integer>1</integer>
		<key>prefix</key>
		<string></string>
		<key>destVcClass</key>
		<string>WKCPKJViewController</string>
		<key>load</key>
		<true/>
	</dict>
	<dict>
		<key>iconImage</key>
		<string>hypark</string>
		<key>gridTitle</key>
		<string>园区生活</string>
		<key>gridTag</key>
		<string></string>
		<key>gridColor</key>
		<string></string>
		<key>pageType</key>
		<integer>1</integer>
		<key>prefix</key>
		<string></string>
		<key>destVcClass</key>
		<string>WKParkViewController</string>
		<key>load</key>
		<true/>
	</dict>
	<dict>
		<key>iconImage</key>
		<string>luntan</string>
		<key>gridTitle</key>
		<string>论坛</string>
		<key>gridTag</key>
		<string></string>
		<key>gridColor</key>
		<string></string>
		<key>pageType</key>
		<integer>1</integer>
		<key>prefix</key>
		<string></string>
		<key>destVcClass</key>
		<string>WKBbsViewController</string>
		<key>load</key>
		<true/>
	</dict>
</array>
</plist>
