<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>iconImage</key>
		<string>juecefenxi</string>
		<key>gridTitle</key>
		<string>决策分析</string>
		<key>gridTag</key>
		<string></string>
		<key>gridColor</key>
		<string></string>
		<key>pageType</key>
		<integer>1</integer>
		<key>prefix</key>
		<string></string>
		<key>destVcClass</key>
		<string>WKJCFXViewController</string>
		<key>load</key>
		<true/>
	</dict>
	<dict>
		<key>iconImage</key>
		<string>https://honyar.oss-cn-hangzhou.aliyuncs.com/hywork/txl.png</string>
		<key>gridTitle</key>
		<string>通讯录</string>
		<key>gridTag</key>
		<string></string>
		<key>gridColor</key>
		<string></string>
		<key>pageType</key>
		<integer>1</integer>
		<key>prefix</key>
		<string></string>
		<key>destVcClass</key>
		<string>WKAddressListViewController</string>
		<key>load</key>
		<true/>
	</dict>
	<dict>
		<key>iconImage</key>
		<string>xierizi</string>
		<key>gridTitle</key>
		<string>拜访足迹</string>
		<key>gridTag</key>
		<string></string>
		<key>gridColor</key>
		<string></string>
		<key>pageType</key>
		<integer>1</integer>
		<key>prefix</key>
		<string></string>
		<key>destVcClass</key>
		<string>RjhTableViewController</string>
		<key>load</key>
		<true/>
	</dict>
	<dict>
		<key>iconImage</key>
		<string>kehukaifa</string>
		<key>gridTitle</key>
		<string>客户开发</string>
		<key>gridTag</key>
		<string></string>
		<key>gridColor</key>
		<string></string>
		<key>pageType</key>
		<integer>1</integer>
		<key>prefix</key>
		<string></string>
		<key>destVcClass</key>
		<string>KhkfViewController</string>
		<key>load</key>
		<true/>
	</dict>
	<dict>
		<key>iconImage</key>
		<string>kehuhuifang</string>
		<key>gridTitle</key>
		<string>客户回访</string>
		<key>gridTag</key>
		<string></string>
		<key>gridColor</key>
		<string></string>
		<key>pageType</key>
		<integer>1</integer>
		<key>prefix</key>
		<string></string>
		<key>destVcClass</key>
		<string>KhhfViewController</string>
		<key>load</key>
		<true/>
	</dict>
	<dict>
		<key>iconImage</key>
		<string>yingshouguanli</string>
		<key>gridTitle</key>
		<string>应收管理</string>
		<key>gridTag</key>
		<string></string>
		<key>gridColor</key>
		<string></string>
		<key>pageType</key>
		<integer>1</integer>
		<key>prefix</key>
		<string></string>
		<key>destVcClass</key>
		<string>WKYszkViewController</string>
		<key>load</key>
		<true/>
	</dict>
	<dict>
		<key>iconImage</key>
		<string>shouhoufankui</string>
		<key>gridTitle</key>
		<string>售后服务</string>
		<key>gridTag</key>
		<string></string>
		<key>gridColor</key>
		<string></string>
		<key>pageType</key>
		<integer>1</integer>
		<key>prefix</key>
		<string></string>
		<key>destVcClass</key>
		<string>WKAfterSaleViewController</string>
		<key>load</key>
		<true/>
	</dict>
	<dict>
		<key>iconImage</key>
		<string>fangweichaxun</string>
		<key>gridTitle</key>
		<string>防伪查询</string>
		<key>gridTag</key>
		<string></string>
		<key>gridColor</key>
		<string></string>
		<key>pageType</key>
		<integer>1</integer>
		<key>prefix</key>
		<string></string>
		<key>destVcClass</key>
		<string>FwcxNewVcViewController</string>
		<key>load</key>
		<false/>
	</dict>
</array>
</plist>
